/* Common app styling */

#content-header {
    background:  #FFFFFF;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
    width: 100%;
    height: 60px; /* Fixed header height */
    overflow: hidden; /* Disable scrollbars for header */
}

#content-main {
    background: #ffffff;
   /* position: fixed;
    top: 80px; /* Same value as #content-header's height *
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;  */
    z-index: 900;
   width: 320px;
   position: absolute;
   top: 60px;
   overflow-x:hidden;
   overflow-y: auto;
 
}

.padding {
    padding: 15px;
}
