/* Common app styling */

#content-header {
    background:  #FFFFFF;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    border-color:grey;
    border:solid;
    z-index: 1000;
    width: 100%;
    height: 150px; /* Fixed header height */
    overflow: hidden; /* Disable scrollbars for header */
}
#content-footer{
    background: #fff;
    position: fixed;
    width:100%; 
    bottom: 0px;
    overflow:hidden;
}


#content-main {
    background: #ffffff;
   /* position: fixed;
    top: 80px; /* Same value as #content-header's height *
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;  */
    z-index: 900;
    width: 100%;
    position: absolute;
    top: 160px;
    overflow-x:hidden;
    overflow-y: auto;
 
}

.padding {
    padding: 15px;
}
