/* Common app styling */

#content-header {
    background: #2a8dd4;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1000;
    width: 100%;
    height: 80px; /* Fixed header height */
    overflow: hidden; /* Disable scrollbars for header */
}

#content-main {
    background: #fff;
   /* position: fixed;
    top: 80px; /* Same value as #content-header's height *
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;*/  
    z-index: 900;
   width: 325px;
   position: fixed;
   top: 80px;
 
}

.padding {
    padding: 15px;
}
