/* header */

#hide{
    background-image: url('../../Images/up.png');
    
    width: 26px;
    height: 25px;

    padding: 0;

    position: inherit;
    left:15px;
    top:32px;
     
    z-index: 1000;
    overflow: auto;

   
}

#show{
    
    background-image: url('../../Images/down.png');
    width: 25px;
    height: 25px;

    padding: 0;
    cursor:pointer;

    position:absolute;
    left:55px;
    top:32px;
    
    
}

#refresh{
    background-image: url('../../Images/refresh.png');
    
    width: 50px;
    height: 60px;    
    cursor:pointer;
    position:absolute;
    left: 235px;
    top:9px;
   



}


/* % tool style */
#percentage-testing{
    width: 100%;  
}

#percent_title_bar{   
    height: 35px;
    width: 100%;
    
    
}
#percent_minimize{
    text-align:center;
    width: 100%;
    height: 35px;
    font-size: 15px;    
    color: #ffffff;
    background:#2a579a;
    padding: 0;
    cursor:pointer;
   
}
#percent-box{
    height:175px;
    width: 100%;    
    overflow:hidden;
}
#percent-contentA{    
    background: #ffffff;
    float:right;
    overflow: visible;
    padding-left: 10px;
    
    position: absolute;
         
}

#percent-contentB{    
    background: #ffffff;
    font-size: 15px;
    overflow:hidden;
       
    padding-right: 60px;
    padding-top: 30px;
    left: 180px;
    position: absolute;
}

#percent-calculate{
    position:absolute;
    transition: .5s ease;    
    height: 30px ;
    background:#2a579a;
    z-index:1000;
    font-size: 15px;
    color:ghostwhite;
    left: 35px;
    cursor:pointer;

   


}
#word-aim{    
    width: 100px;
}


/* formatting tool style */

#formatting{
    width: 100%;
    border: 1px;
}

#format_title_bar{
  
    height: 35px;
    width: 100%;
}
#format_minimize{
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 35px;
    color: #ffffff;
    background: #2a579a;
    padding: 0;
    cursor:pointer;

   
}
#format-box{
    height: 180px;
    width: 100%;
    background: #ffffff;
    
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 15px;

}
#format-button{
    position:absolute;
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px;
    left: 85px;
    color:ghostwhite;
    cursor:pointer;

   
}


/* common words tool style */

#Common Words{
    width: 100%;
    border: 1px;
}

#common_title_bar{
  
    height: 35px;
    width: 100%;
}
#common_minimize{
    text-align:center;
    font-size: 15px;    
    width: 100%;
    height: 35px;
    color: #ffffff;
    background: #2a579a;
    padding: 0;
    cursor:pointer;

  
}
#common-box{
    height: 200px;
    width: 100%;
    background: #ffffff;
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 10px;
}
#common-button-div{
    height: 40px;
}
#common-button{
    position:absolute;
    transition: .5s ease;    
    height: 30px ;
    background:#2a579a;
    z-index:1000;
    font-size: 15px;
    color:ghostwhite;
    left: 35px;
    width: 200px;

   -moz-box-shadow:    inset 0 0 3px #000000;
   -webkit-box-shadow: inset 0 0 3px #000000;
   box-shadow:         inset 0 0 3px #000000;


}
#common-list{
    
}

#common_button{
    position:absolute;
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px;
    left: 85px;
    top:560px;
    color:ghostwhite;
    cursor:pointer;
}


/* key words tool style */

#Key Words{
    width: 100%;
    border: 1px;
}

#key_title_bar{
  
    height: 35px;
    width: 100%;
}
#key_minimize{
    text-align:center;
    font-size: 15px;
    border: solid 1px;
    width: 100%;
    height: 35px;
    color: #ffffff;
    background: #2a579a;
    padding: 0;
    cursor:pointer;
 
   
}
#key-box{
    height: 250px;
    width: 100%;
    background: #ffffff;
    padding-left: 15px;
    padding-right: 15px;

}

#add_key{
    
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px; 
    color:ghostwhite;
    cursor:pointer;
}

#clr_key {
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px; 
    color:ghostwhite;
    cursor:pointer;
}

#check_key{
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px; 
    color:ghostwhite;
    cursor:pointer;
}