/* Page-specific styling */

#hide{
    background: #1d70bd;
     border: solid 1px;
    width: 30px;
    height: 25px;

    padding: 0;

    position: inherit;
     left:15px;
     top:50px;
     
     z-index: 1000;
     overflow: auto;
}

#show{
     background: #1d70bd; 
      border: solid 1px;
    width: 30px;
    height: 25px;

    padding: 0;
    cursor:pointer;

    position:absolute;
     left:55px;
     top:50px;
    

}

#refresh{
     background: #1d70bd; 
      border: solid 1px;
    width: 40px;
    height: 40px;

    padding: 0;
    cursor:pointer;

    position:fixed;
     left: 235px;
     top:30px;
     z-index:1000;

}


/* % tool style */
#percentage-testing{
    width: 100%;
    border: 1px;
}

#percent_title_bar{
    height: 35px;
    width: 100%;
    
}
#percent_minimize{
    
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#percent-box{
    height: 175px;
    width: 100%;
    background: #ffffff;
    overflow:hidden;
}
#percent-contentA{
    height: 175px;
    
  
    background: #ffffff;
    
    float:left;
    overflow:hidden;
    
    padding-left: 15px;

}
#percent-contentB{
    height: 175px;
    
    background: #ffffff;
    
    overflow:hidden;
    float:right;
    padding-right: 45px;
}

#percent-calculate{
     position:absolute;
    transition: .5s ease;
    top: 155px;
    height: 40px ;
    background: #1d70bd;
    z-index:1000;
    font-size: 20px;
    color:ghostwhite;


}
#word-aim{
    width: 100px;
}


/* formatting tool style */

#formatting{
    width: 100%;
    border: 1px;
}

#format_title_bar{
  
    height: 35px;
    width: 100%;
}
#format_minimize{
    
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#format-box{
    height: 205px;
    width: 100%;
    background: #F0F8FF;

    padding-left: 15px;
    padding-right: 15px;

}


/* common words tool style */

#Common Words{
    width: 100%;
    border: 1px;
}

#common_title_bar{
  
    height: 35px;
    width: 100%;
}
#common_minimize{
    border: solid 1px;
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#common-box{
    height: 250px;
    width: 100%;
    background: #F0F8FF;

      padding-left: 15px;
    padding-right: 15px;

}


/* key words tool style */

#Key Words{
    width: 100%;
    border: 1px;
}

#key_title_bar{
  
    height: 35px;
    width: 100%;
}
#key_minimize{
    border: solid 1px;
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#key-box{
    height: 200px;
    width: 100%;
    background: #F0F8FF;

      padding-left: 15px;
    padding-right: 15px;

}