/* Page-specific styling */

#hide{
    background: #1d70bd;
     border: solid 1px;
    width: 30px;
    height: 25px;

    padding: 0;
    cursor:pointer;

    position:fixed;
     left:15px;
     top:50px;
     z-index:1000;

}

#show{
     background: #1d70bd; 
      border: solid 1px;
    width: 30px;
    height: 25px;

    padding: 0;
    cursor:pointer;

    position:fixed;
     left:55px;
     top:50px;
     z-index:1000;

}

#refresh{
     background: #1d70bd; 
      border: solid 1px;
    width: 40px;
    height: 40px;

    padding: 0;
    cursor:pointer;

    position:fixed;
     left: 235px;
     top:30px;
     z-index:1000;

}


/* % tool style */
#percentage-testing{
    width: 100%;
    border: 1px;
}

#percent_title_bar{
    height: 35px;
    width: 100%;
    
}
#percent_minimize{
    border: solid 1px;
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#percent-box{
    height: 325px;
    width: 100%;
    background: #F0F8FF;
}
#percent-content{
    height: 125px;
    width: 96%;
    background: #F0F8FF;
}

/* formatting tool style */

#formatting{
    width: 100%;
    border: 1px;
}

#format_title_bar{
  
    height: 35px;
    width: 100%;
}
#format_minimize{
    border: solid 1px;
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#format-box{
    height: 205px;
    width: 100%;
    background: #F0F8FF;
}


/* common words tool style */

#Common Words{
    width: 100%;
    border: 1px;
}

#common_title_bar{
  
    height: 35px;
    width: 100%;
}
#common_minimize{
    border: solid 1px;
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#common-box{
    height: 250px;
    width: 100%;
    background: #F0F8FF;
}


/* key words tool style */

#Key Words{
    width: 100%;
    border: 1px;
}

#key_title_bar{
  
    height: 35px;
    width: 100%;
}
#key_minimize{
    border: solid 1px;
    width: 100%;
    height: 35px;

    background: #1d70bd;
    padding: 0;
    cursor:pointer;
}
#key-box{
    height: 200px;
    width: 100%;
    background: #F0F8FF;
}