/* header */


#refresh{
    background-image: url('../../Images/new_refresh.png');        
    cursor:pointer;
    position: absolute;
    left: 5px;
    background-color: transparent;
    background-repeat: no-repeat; 
    height: auto;
    width: 20px;
    padding: 0;
    background-size: auto 100%;
    border: 0;
}

/* Percentage Text */
#percentage{
    margin: 0;
    margin-right: 20px;
    float: right;
}

/* % tool style */
#percentage-testing{
    width: 100%; 
    height: 100%; 
}

#percent_title_bar{   
    height: 10px;
    width: 100%;      
}

#percent-box{
    height: 100%;
    width: 100%;    
    overflow:hidden;
}
.percent-content{    
    /*float:right;*/
    overflow: visible;
    padding-left: 10px;    
    position: absolute; 
    color: #616161; 
    width: 100%;       
}

.percent-content table{
    width:100%
}

.percent-content td{
}

/*
    Table Columns Left and Right
*/
#pc-left{
    width: 35%;
}

#pc-right{
    width: 65%;
}

#percent-calculate{
    transition: .5s ease;    
    height: 30px;
    width: 80%;
    background:#2a579a;
    z-index:1000;
    font-size: 15px;
    color:ghostwhite;
    left: 35px;
    cursor:pointer;  
}

#word-aim{    
    width: 80%;
    height: 30px;
    text-align: center;
}


/* formatting tool style */

#formatting{
    width: 100%;
    border: 1px;
    text-align:center;
}

#format_title_bar{
  
    height: 35px;
    width: 100%;
}

#format-box{
    height: 180px;
    width: 100%;
    background: #ffffff;   
    padding-top: 55px;
    padding-left: 50px;
    padding-right: 15px;

}
#format-button{
    position:absolute;
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px;
    left: 85px;
    color:ghostwhite;
    cursor:pointer;   
}


/* common words tool style */

#Common Words{
    width: 100%;
    border: 1px;
    text-align:center;
}

#common_title_bar{
     text-align:center;
    height: 35px;
    width: 100%;
}

#common-box{
    text-align:center;
    height: 250px;
    width: 100%;
    background: #ffffff;
    padding-left: 75px;
    padding-right: 15px;
    padding-top: 10px;
}
#common-button-div{
    height: 40px;
}
#common-button{
    position:absolute;
    transition: .5s ease;    
    height: 30px ;
    background:#2a579a;
    z-index:1000;
    font-size: 15px;
    color:ghostwhite;
    left: 35px;
    width: 200px;
    
}
common-table{
    padding-top: 60px;
}

table{
    text-align: left;
    width: 250px;
}

#common_button{
    vertical-align:central;
    text-align:center;
    position:absolute;
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px;    
    top:560px;
    color:ghostwhite;
    cursor:pointer;
}


/* key words tool style */

#Key Words{
    width: 100%;
    border: 1px;
    text-align:center;
}

#key_title_bar{
  
    height: 35px;
    width: 100%;
}

#key-box{
    height: 250px;
    width: 100%;
    background: #ffffff;
    padding-left: 15px;
    padding-right: 15px;

}


#keywords{
    padding-left: 10px;
    width: 267px;
}

#add_key{
    
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px; 
    color:ghostwhite;
    cursor:pointer;
}

#clr_key {
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px; 
    color:ghostwhite;
    cursor:pointer;
    width: 120px;
    left: 190px;
}

#check_key{
    transition: .5s ease;    
    height: 30px ;
    background: #2a579a;
    z-index:1000;
    font-size: 15px; 
    color:ghostwhite;
    cursor:pointer;
    width: 145px;
}

#key-table-div{
    padding-left: 55px;
}

/*----- Tabs -----*/
.tabs { 
    display:inline-block;
    word-break:break-word;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
   
}
ul{    
    font-size:0;
    column-count:2; 
    
 }

.tab-links li {   
    list-style:none;
    
}
 
.tab-links a {
   height: 40px;
    width: 100%;
    padding-top: 15px;
    padding-left:5px 30%;
    display:inline-block;            
    background:#2a579a;
    font-size:13px;
    text-align:center;
    color:white;   
    transition:all linear 0.15s; 
    
}
 
.tab-links a:hover {
    background:#3E6DB6;
    text-decoration:none;
    color:ghostwhite;
}
 
li.active a, li.active a:hover {
    background:#fff;
    color:#2a579a;
    text-decoration:none;
}
 
    /*----- Content of Tabs -----*/
.tab-content {    
               
    background:#fff;       
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}
    /*----- Content of Tabs -----*/


/**
    Overrides the default values of
    the progress bar.
    MH.
*/
.progress {
    margin-bottom: 0px !important;
}